<?xml version="1.0"?>
<robot name="rift" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Args -->
  <xacro:arg name="hw_interface_plugin" default="swerve_hardware/IsaacDriveHardware"/>

  <!-- Include Files -->
  <xacro:include filename="$(find rift_description)/urdf/control/drive.xacro" />
  <xacro:include filename="$(find rift_description)/urdf/util/macros.xacro" />
  <xacro:include filename="$(find rift_description)/urdf/util/materials.xacro" />
  <xacro:include filename="$(find rift_description)/urdf/parts/square_chassis.xacro" />
  <xacro:include filename="$(find rift_description)/urdf/parts/swerve_axle.xacro" />
  <xacro:include filename="$(find rift_description)/urdf/parts/zed_macro.urdf.xacro" />

  <xacro:include filename="$(find rift_description)/urdf/parts/lidar.xacro" />
  <xacro:include filename="$(find rift_description)/urdf/parts/usb_camera.xacro" />

  <xacro:include filename="$(find rift_description)/urdf/parts/stow_hardstop.xacro" />
  <xacro:include filename="$(find rift_description)/urdf/parts/intake.xacro" />
  <xacro:include filename="$(find rift_description)/urdf/parts/shooter.xacro" />
  <xacro:include filename="$(find rift_description)/urdf/parts/versaroller.xacro" />
  <xacro:include filename="$(find rift_description)/urdf/parts/arm.xacro" />

  <!-- Axle Position Variables -->
  <xacro:property name="axle_pos" value="0.261523" />
  <xacro:property name="axle_pos_z" value="${39.056 / 1000}" />
  <xacro:property name="elevator_middle_distance" value = ".457" />
  <xacro:property name= "chassis_side_width" value = ".0254" />

  <!-- Camera Position Variables -->
  <xacro:property name="cam_pos" value="0.05 0 -0.03"/> <!-- Made up values, replace with real ones later. -->
  <xacro:property name="usb_cam_1_pos" value="0 -0.14 0.05"/> <!-- Made up values, replace with real ones later. -->
  <xacro:property name="usb_cam_2_pos" value="-0.15 0 0.05"/> <!-- Made up values, replace with real ones later. -->
  <xacro:property name="usb_cam_3_pos" value="0 0.14 0.05"/> <!-- Made up values, replace with real ones later. -->

  <!-- X IS FORWARD -->
  <!-- Y IS LEFT -->
  <!-- Z IS UP -->

  <!-- Chassis -->
  <link name="base_link"/>


  <xacro:square_chassis prefix="swerve" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:square_chassis>

  <!-- Arm -->
  <xacro:arm parent="base_link">
    <origin xyz="-0.09 -0.01 0.18" rpy="0 0 0" />
  </xacro:arm>

  <!-- Intake -->
  <xacro:intake parent="swerve_chassis_link">
    <origin xyz="0.24 0 0.09" rpy="0 0 0" />
  </xacro:intake>
<!--Stow hardstop-->
  <xacro:stow_hardstop parent="swerve_chassis_link">
    <origin xyz="0.08 0 0.16" rpy="0 0 0" />
  </xacro:stow_hardstop>
  <!-- Shooter -->
  <xacro:shooter parent="arm_bar_link">
    <origin xyz="0.48 -0.01 0.07" rpy="0 0 0" />
  </xacro:shooter>

  <!-- Drive Train -->
  <xacro:swerve_axle prefix="front_left" parent="swerve_chassis_link">
    <origin xyz="${axle_pos} ${axle_pos} ${axle_pos_z}" rpy="0 0 0" />
  </xacro:swerve_axle>
  <xacro:swerve_axle prefix="front_right" parent="swerve_chassis_link">
    <origin xyz="${axle_pos} -${axle_pos} ${axle_pos_z}" rpy="0 0 0" />
  </xacro:swerve_axle>
  <xacro:swerve_axle prefix="rear_left" parent="swerve_chassis_link">
    <origin xyz="-${axle_pos} ${axle_pos} ${axle_pos_z} " rpy="0 0 0" />
  </xacro:swerve_axle>
  <xacro:swerve_axle prefix="rear_right" parent="swerve_chassis_link">
    <origin xyz="-${axle_pos} -${axle_pos} ${axle_pos_z}" rpy="0 0 0" />
  </xacro:swerve_axle>
  

  <!-- Sensors -->
  <xacro:usb_camera prefix="1" parent="stow_hardstop_link">
    <origin xyz="${usb_cam_1_pos}" rpy="0 0 0" />
  </xacro:usb_camera>
  <xacro:usb_camera prefix="2" parent="arm_mount_link">
    <origin xyz="${usb_cam_2_pos}" rpy="0 0 0" />
  </xacro:usb_camera>
  <xacro:usb_camera prefix="3" parent="stow_hardstop_link">
    <origin xyz="${usb_cam_3_pos}" rpy="0 0 0" />
  </xacro:usb_camera>

  <xacro:zed_camera prefix="zed2i" model="zed2i" parent="shooter_link">
    <origin xyz="${cam_pos}" rpy="0 0 0" />
  </xacro:zed_camera>

  <!-- <xacro:lidar prefix="lidar" parent="swerve_chassis_link" radius="0.035" length="0.025">
    <origin xyz="${lidar_pos}" rpy="0 0 0" />
  </xacro:lidar> -->
  <!-- Control -->
  <xacro:swerve_drive_control plugin="$(arg hw_interface_plugin)"/>
</robot>